# pycharm
.idea/*

# python
*.pyc

# visual studio stuff
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.suo
*.dbmdl
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.ncrunchproject
*.ncrunchsolution
results.xml
packages/
App_Data
